extends layout.pug

block content
    h1= game.title
    div(id='game-image')
        img(id='img' src=game.image, alt=game.name)
    div(id='div-description')
        p(id='description') #{game.description}
    div(id='div-reviews')
        each review in reviews
            div(id='review')
                p(id='rating') #{review.rating}
                p(id='content') #{review.content}
    div(id='div-review-button')
        a(href=`/reviews/${game.id}`)
            button(id='review-button') Leave a review!
    form(action=`/game_shelves/${userId}/add` method="post")
        if locals.authenticated
            label(for="addToShelf") Add To Shelf
            select(name="addToShelf")
                each shelf in gameshelves
                    option(value= `${shelf.id}, ${game.id}` )= shelf.shelfName
            <button style="font-size:24px"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
