extends layout.pug

block content
    h2= game.name
    div(class='game-image')
        img(class='img' src=game.image, alt=game.name)
    div(class='div-description')
        p(class='description') #{game.description}
    div(class='reviews')
        each review in reviews
            div
                p #{review.rating}
                p #{review.content}
    form(action=`/game_shelves/${userId}/add` method="post")
        label(for="addToShelf") Add To Shelf
        select(name="addToShelf")
            each shelf in gameshelves
                option(value= shelf.id)= shelf.shelfName
        button Add
