extends layout.pug

block content
    h1= game.title
    div(id='game-image')
        img(id='img' src=game.image, alt=game.name)
    div(id='div-description')
        p(id='description') #{game.description}
    form(action=`/game_shelves/${userId}/add` method="post")
        if locals.authenticated
            label(for="addToShelf" id='addToShelf') Add To Shelf
            select(name="addToShelf")
                each shelf in gameshelves
                    option(value= `${shelf.id}, ${game.id}` )= shelf.shelfName

            button(id='addToShelfButton') Add
    div(id='reviews-wrapper')
        div(id='div-review-button')
            a(href=`/reviews/${game.id}`)
                button(id='review-button') Leave a review!
        div(id='div-reviews')
            each review in reviews
                div(id='review')
                    p(id='rating') Rating: #{review.rating}
                    p(id='content') Review: #{review.content}
                    p(id='review-user') Posted by: user# #{review.userId}
                    p(id='review-date') Posted on: #{review.createdAt.toString().split(' ').splice(0,5).join(' ')}
                    a(href=`/reviews/${game.id}/${review.id}/update`)
                            button(id='update-review-button') Update your review!
