extends layout

append head
  link(rel="stylesheet" href="/stylesheets/user-page.css")

block content
    if games.length > 0
        div 
            ul 
                li=`Searched: ${search}`


        div(class='games-list')
            each game in games
                a(href=`/games/${game.id}`)
                    img(class='img' src=game.dataValues.image, alt=game.dataValues.name)
    else 
        h1 No matching games found
            div 
                ul 
                    li=`Searched: ${search}`


